// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$material-light: (
  'background': #f7fdff,
);

$data-table-regular-header-height: 56px;

$data-table-regular-row-height: 56px;

html {
  overflow-y: auto;
}

// $material-dark: ('background': rgb(83, 40, 117));

// $body-font-family: 'Montserrat',sans-serif;

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// @layer utilities {
// .primary {
//   color: red !important;
// }
// }
